SECRET_KEY=genxcafe-secret-key
MYSQL_HOST=mysql-98e4b7a-jangirrahul0026-386c.i.aivencloud.com
MYSQL_USER=avnadmin
MYSQL_PASSWORD=AVNS_hrprv_uUTJvt-6aW3ec
MYSQL_DB=genxcafe
GROQ_API_KEY='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'
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=rahul656676@gmail.com
MAIL_PASSWORD=1234
